# Node
node_modules/
**/node_modules/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Optional npm cache
.npm
# Bun
.bun

# Vite
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
